*{
  margin:0
}

.App{
  background-color:#111;
}

@media (max-width:991px){
  #header {
    height: 80vh;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .facet_sidebar {
    display: none;
  }
}

.footer{
  align-items: center;
  color: white;
  text-align: center;
}